.abstract {
    margin-top: 1em;
    text-indent: 0em;
    font-weight: bold;
}

.Bold {
    font-weight: bold;
}

.Italic {
    font-style: italic;
}

.content-image-full, .content-image-float {
    text-align: center;
}

h4 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    text-indent: 0em;
}